*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(/images/pattern-background-desktop.svg) center top;
    background-size: cover;
    color: black;
    background-repeat: no-repeat;
}
.card{
    width: 30%;
    height: 100%;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
 
}
.card-container{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.card > img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 80%;
}
.card > .main-head-name{
    padding: 1.5rem;
    font-weight: 900;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.card > p {
    width: 80%;
    color: #222;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}
.music-plan-flex{
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 15%;
    margin-right: 5%;
}
.music-plan-flex > img{
    margin-right: 10px;
}
.music-plan-block{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}
.music-plan-flex > a{
    outline: none;
    color: #3929E1;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:5%;
}
.center-button{
    display: flex;
    justify-content: center;
    align-items: center;

}
.center-button > button{
    cursor: pointer;
    background: #3929E1;
    color: #fff;
    width: 80%;    
    height: 3rem;
    border-radius: 15px;
    font-weight:bolder;
    font-size: 15px;
    box-shadow: 4px 4px 8px #222;
    margin-bottom: 1rem;
    outline: none;
    border: 2px solid #272727;
}
.center-button > button:hover{
    background: #272727;
    color: white;
    transition: all ease-in-out 1s;
}
.button{
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
}

.attribution { font-size: 15px; margin-top: 1rem;}
.attribution a { color: hsl(228, 45%, 44%); }
@media screen and (max-width:480px){
    body{
        background: url(/images/pattern-background-mobile.svg) center top;
        background-size: cover;
        color: black;
        background-repeat: no-repeat;
    }
    .card{
        width: 90%;
        height: 100%;
        background-color: rgb(226, 226, 226);
        border-radius: 20px;
    }
    .music-plan-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:1rem 0;
        padding: 0;
    }
    .music-plan-flex > a{
        margin: 0;
    }
    .main-card {
        margin-top: 10%;
    }
}
